<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.seu.herald_android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.WRITE_SMS" />

    <application
        android:name=".framework.AppContext"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">

        <activity
            android:name=".app_main.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="cn.seu.herald_android.SWITCH_TAB" />

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".app_secondary.LoginActivity"
            android:label="@string/title_activity_login"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".app_secondary.ModuleManageActivity"
            android:label="@string/title_activity_query"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/SubActivityTheme">
            <intent-filter>
                <action android:name="cn.seu.herald_android.MODULE_MANAGER"/>

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app_module.schoolbus.SchoolBusActivity"
            android:label="@string/title_activity_schoolbus"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/QuerySchoolBusTheme">
            <intent-filter>
                <action android:name="cn.seu.herald_android.MODULE_QUERY_SCHOOLBUS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app_module.grade.GradeActivity"
            android:label="@string/title_activity_grade"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/QueryGradeTheme">
            <intent-filter>
                <action android:name="cn.seu.herald_android.MODULE_QUERY_GRADE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app_module.library.LibraryActivity"
            android:label="@string/title_activity_library"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/LibraryTheme">
            <intent-filter>
                <action android:name="cn.seu.herald_android.MODULE_QUERY_LIBRARY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app_module.library.LibrarySearchActivity"
            android:label="@string/title_activity_library_search"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/LibraryTheme" />
        <activity
            android:name=".app_module.lecture.LectureActivity"
            android:label="@string/title_activity_lecture"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/LectureTheme">
            <intent-filter>
                <action android:name="cn.seu.herald_android.MODULE_QUERY_LECTURE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app_module.cardextra.CardActivity"
            android:label="@string/title_activity_card"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/CardTheme">
            <intent-filter>
                <action android:name="cn.seu.herald_android.MODULE_QUERY_CARDEXTRA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app_module.experiment.ExperimentActivity"
            android:label="@string/title_activity_experiment"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/ExperimentTheme">
            <intent-filter>
                <action android:name="cn.seu.herald_android.MODULE_QUERY_EXPERIMENT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app_module.seunet.SeunetActivity"
            android:label="@string/title_activity_seunet"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/SeunetTheme">
            <intent-filter>
                <action android:name="cn.seu.herald_android.MODULE_QUERY_SEUNET" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app_module.exam.ExamActivity"
            android:label="@string/title_activity_exam"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/ExamTheme">
            <intent-filter>
                <action android:name="cn.seu.herald_android.MODULE_QUERY_EXAM" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 自定义考试 -->
        <activity
            android:name=".app_module.exam.AddExamActivity"
            android:label="@string/title_activity_add_exam"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/ExamTheme" />
        <activity
            android:name=".app_module.pedetail.PedetailActivity"
            android:label="@string/title_activity_pedetail"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/PedetailTheme">
            <intent-filter>
                <action android:name="cn.seu.herald_android.MODULE_QUERY_PEDETAIL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app_module.curriculum.CurriculumActivity"
            android:label="@string/title_activity_curriculum"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/CurriculumTheme">
            <intent-filter>
                <action android:name="cn.seu.herald_android.MODULE_QUERY_CURRICULUM" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app_secondary.WebModuleActivity"
            android:label="@string/title_activity_webmodule"
            android:screenOrientation="portrait"
            android:theme="@style/WebShowTheme">

            <!-- web module -->
            <intent-filter>
                <action android:name="cn.seu.herald_android.WEBMODULE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app_secondary.FeedbackActivity"
            android:label="@string/title_activity_feedback"
            android:screenOrientation="portrait"
            android:theme="@style/FeedbackTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".app_module.srtp.SrtpActivity"
            android:label="@string/title_activity_srtp"
            android:screenOrientation="portrait"
            android:theme="@style/SrtpTheme">
            <intent-filter>
                <action android:name="cn.seu.herald_android.MODULE_QUERY_SRTP" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app_module.jwc.JwcActivity"
            android:label="@string/title_activity_jwc"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/JwcTheme">
            <intent-filter>
                <action android:name="cn.seu.herald_android.MODULE_QUERY_JWC" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app_module.gymreserve.GymReserveActivity"
            android:label="@string/title_activity_gymreserve"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/GymReserveTheme">
            <intent-filter>
                <action android:name="cn.seu.herald_android.MODULE_GYMRESERVE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app_module.gymreserve.GymChooseTimeActivity"
            android:label="@string/title_activity_gym_choose_time"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/GymReserveTheme"/>
        <activity
            android:name=".app_module.gymreserve.GymNewOrderActivity"
            android:label="@string/title_activity_gym_new_order"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/GymReserveTheme"/>
        <activity
            android:name=".app_module.gymreserve.GymAddFriendActivity"
            android:label="@string/title_activity_gym_add_friend"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/GymReserveTheme"/>
        <activity
            android:name=".app_module.gymreserve.GymMyOrderActivity"
            android:label="@string/title_activity_gym_my_order"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/GymReserveTheme"/>

        <activity android:name=".app_module.topic.TopicActivity"
            android:label="@string/title_activity_topic"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/TopicTheme">
            <intent-filter>
                <action android:name="cn.seu.herald_android.MODULE_TOPIC" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".app_module.express.ExpressActivity"
            android:label="@string/title_activity_express"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/ExpressActivityTheme">
            <intent-filter>
                <action android:name="cn.seu.herald_android.MODULE_EXPRESS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".app_module.express.ExpressHistoryActivity"
            android:label="代取记录"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/ExpressActivityTheme"
            />
        <activity android:name=".app_module.express.ExpressAdminActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            />


    </application>

</manifest>