<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.seu.herald_android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">

        <!-- 启动页 -->
        <activity
            android:name=".mod_communicate.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Invisible">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app_main.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".mod_auth.LoginActivity"
            android:label="@string/title_activity_login"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mod_modulemanager.ModuleManageActivity"
            android:label="@string/title_activity_query"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/SubActivityTheme">
            <intent-filter>
                <action android:name="cn.seu.herald_android.MODULE_QUERY_MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mod_query.schoolbus.SchoolBusActivity"
            android:label="@string/title_activity_schoolbus"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/QuerySchoolBusTheme">
            <intent-filter>
                <action android:name="cn.seu.herald_android.MODULE_QUERY_SCHOOLBUS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mod_query.grade.GradeActivity"
            android:label="@string/title_activity_grade"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/QueryGradeTheme">
            <intent-filter>
                <action android:name="cn.seu.herald_android.MODULE_QUERY_GRADE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mod_query.library.LibraryActivity"
            android:label="@string/title_activity_library"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/LibraryTheme">
            <intent-filter>
                <action android:name="cn.seu.herald_android.MODULE_QUERY_LIBRARY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mod_query.schedule.SchoolScheduleActivity"
            android:label="@string/title_activity_schedule"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/ScheduleTheme">
            <intent-filter>
                <action android:name="cn.seu.herald_android.MODULE_QUERY_SCHEDULE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mod_query.library.LibrarySearchActivity"
            android:label="@string/title_activity_library_search"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/LibraryTheme" />
        <activity
            android:name=".mod_query.lecture.LectureActivity"
            android:label="@string/title_activity_lecture"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/LectureTheme">
            <intent-filter>
                <action android:name="cn.seu.herald_android.MODULE_QUERY_LECTURE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mod_query.cardextra.CardActivity"
            android:label="@string/title_activity_card"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/CardTheme">
            <intent-filter>
                <action android:name="cn.seu.herald_android.MODULE_QUERY_CARDEXTRA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mod_query.experiment.ExperimentActivity"
            android:label="@string/title_activity_experiment"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/ExperimentTheme">
            <intent-filter>
                <action android:name="cn.seu.herald_android.MODULE_QUERY_EXPERIMENT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mod_query.seunet.SeunetActivity"
            android:label="@string/title_activity_seunet"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/SeunetTheme">
            <intent-filter>
                <action android:name="cn.seu.herald_android.MODULE_QUERY_SEUNET" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mod_query.exam.ExamActivity"
            android:label="@string/title_activity_exam"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/ExamTheme">
            <intent-filter>
                <action android:name="cn.seu.herald_android.MODULE_QUERY_EXAM" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mod_query.pedetail.PedetailActivity"
            android:label="@string/title_activity_pedetail"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/PedetailTheme">
            <intent-filter>
                <action android:name="cn.seu.herald_android.MODULE_QUERY_PEDETAIL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mod_query.curriculum.CurriculumActivity"
            android:label="@string/title_activity_curriculum"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/CurriculumTheme">
            <intent-filter>
                <action android:name="cn.seu.herald_android.MODULE_QUERY_CURRICULUM" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mod_webmodule.WebModuleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Invisible">

            <!-- web module -->
            <intent-filter>
                <action android:name="cn.seu.herald_android.WEBMODULE_EMPTYROOM" />
                <action android:name="cn.seu.herald_android.WEBMODULE_QUANYI" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mod_webmodule.WebShowActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WebShowTheme">

            <!-- web module -->
            <intent-filter>
                <action android:name="cn.seu.herald_android.WEBSHOW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mod_communicate.AboutusActivity"
            android:label="@string/title_activity_aboutus"
            android:screenOrientation="portrait"
            android:theme="@style/AboutusTheme" />
        <activity
            android:name=".mod_communicate.FeedbackActivity"
            android:label="@string/title_activity_feedback"
            android:screenOrientation="portrait"
            android:theme="@style/FeedbackTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".mod_query.srtp.SrtpActivity"
            android:label="@string/title_activity_srtp"
            android:screenOrientation="portrait"
            android:theme="@style/SrtpTheme">
            <intent-filter>
                <action android:name="cn.seu.herald_android.MODULE_QUERY_SRTP" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mod_query.jwc.JwcActivity"
            android:label="@string/title_activity_jwc"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/JwcTheme">
            <intent-filter>
                <action android:name="cn.seu.herald_android.MODULE_QUERY_JWC" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mod_afterschool.AfterSchoolActivity"
            android:label="@string/title_activity_afterschoolactivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AfterSchoolActivityTheme">
            <intent-filter>
                <action android:name="cn.seu.hreald_android.MODULE_LIVE_AFTERSCHOOLACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mod_query.gymreserve.GymReserveActivity"
            android:label="@string/title_activity_gymreserve"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/GymReserveTheme">
            <intent-filter>
                <action android:name="cn.seu.herald_android.MODULE_QUERY_GYMRESERVE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 场馆预约项目时间段选择 -->
        <activity
            android:name=".mod_query.gymreserve.OrderItemActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/GymReserveTheme">
        </activity>
        <!-- 场馆预约新增预约 -->
        <activity
            android:name=".mod_query.gymreserve.NewOrderActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/GymReserveTheme">
        </activity>
        <!-- 搜索新好友 -->
        <activity
            android:name=".mod_query.gymreserve.SearchFriendActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/GymReserveTheme">
        </activity>
        <activity android:name=".mod_query.gymreserve.MyOrderActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/GymReserveTheme">
        </activity>
    </application>

</manifest>